* {
  box-sizing: border-box;
}

body.open-menu {
  overflow: hidden;
}

.open-menu nav {
  left: 0px;
}

.open-menu #root > div {
  left: 240px;
}

body {
  margin: 0;
}

#root > div {
  position: relative;
}

nav {
  background: goldenrod;
  width: 240px;
  top: 80px;
  position: fixed;
  height: 100%;
}

nav.scrolled {
  position: absolute;
  top: 0;
}

header {
  height: 80px;
  background-color: lightgreen;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  padding: 0 12px;
  margin-top: 80px;
  margin-bottom: 400px;
  margin-left: 240px;
  background-color: wheat;
  z-index: 1;
}

footer {
  background-color: lightcoral;
  padding: 12px;
  height: 400px;
  max-height: 400px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

p {
  font-size: 28px;
  line-height: 1.5;
}
