/* Main */

/* 
 * 1. sidebar nav is sticky
 * 2. header is fixed in the top
 * 3. footer has the "uncover the black bit by scrolling up"
 */

.wrapper {
  position: relative;
}

/* 
 * sidebar nav is fixed by default, when scrolling to the bottom, it
 * turns to absolute for sticking above the footer (this done by
 * Javascript).
 */

nav {
  position: fixed;
  top: 80px; /* top matches the fixed height of the header */

  width: 240px; /* fixed width, this matches the main's margin-left */
  height: 100vh; /* flexible height that rely on the viewpoint */
}

/* header always fixed in top */

header {
  position: fixed;
  top: 0;

  width: 100%; /* full width */

  /* 
   * fixed height, this matches: 
   *   1. the nav's top
   *   2. the main's margin-top
   *   3. the main's min-height
   */
  height: 80px;
}

/* main */

main {
  margin-top: 80px; /* fixed margin-top matches the header height */
  margin-left: 240px; /* fixed margin-left matches the nav width */

  /* flexible height that rely on the VIEWPOINT_HEIGHT - HEADER_HEIGHT */
  min-height: calc(100vh - 80px);
}

/* footer has the "uncover the black bit by scrolling up" */

.footer-top {
  /* Fixed margin-bottom that matches the footer-bottom's height */
  margin-bottom: 400px;

  /* 
   * Fixed height, this is used by the scroll event to calculate the
   * sidebar nav's top
   */
  height: 160px;
}

.footer-bottom {
  /* footer-bottom is fixed in the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  /* 
   * A low enough z-index that make the footer-bottom always be
   * covered by the footer-top and main.
   */
  z-index: -1;

  /* Fixed height, this matches the footer-top's margin-bottom */
  height: 400px;
}

/* Presentation Setup */

* {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 sans-serif;
}

body {
  margin: 0;
}

header,
nav,
main,
footer {
  font-size: 2em;
}

header {
  background: greenyellow;
}

nav {
  background: goldenrod;
}

main {
  background: whitesmoke;
}

footer {
  background: lightcoral;
}

.footer-bottom {
  background: gray;
}
