* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

header {
  /* Makes sure the header is always in the front of the main content */
  position: relative;
  z-index: 1;

  height: 50px;
  background: green;
}

main {
  /* paddingTop matches the height of header */
  padding-top: 50px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  background: #eee;
}

footer {
  background: orchid;
  min-height: 100px;
}

main > p {
  font-size: 2em;
  line-height: 1.5;
}
