body {
  margin: 0;
  padding: 0;
  border: none;
}

p {
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
  padding: 1em 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  padding: 1em 0;
}

/* Main */

#container {
  position: relative;
}

#container.open-menu {
  overflow: hidden;
}

#container.open-menu .content-wrapper {
  transform: translate3d(240px, 0, 0);
}

.content-wrapper {
  margin: 0;
  padding: 0;
  border: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: transform 0.3s ease-out;
}

nav {
  width: 240px;
  height: 100vh;
  overflow: auto;

  background: goldenrod;
}

header {
  position: fixed;
  top: 0;

  height: 50px;
  width: 100%;

  background: lightgreen;
}

main {
  margin-top: 50px; /* height of header */

  background: ghostwhite;
}

footer {
  background: lightcoral;
}
